<html>
<style>
h1{font-family: verdana;color:black;text-size:20px;
   background:jjjj.jpeg}
h2{font-family: verdana; text-align: left; color: red}
#para{font-family: courier new; text-align: center; color: magenta}
</style>
</html>